<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        .dashboard { display: flex; flex-direction: column; gap: 10px; }
        a { padding: 10px; background-color: #ffffff; color: #000000; text-decoration: none; border-radius: 5px; }
        a:hover { background-color: #08090a; color: #ffffff; }
    </style>
</head>
<body>
    <h1>Dashboard</h1>
    <div class="dashboard">
        <a href="/add_student">Add Student</a>
        <a href="{{ url_for('view_student') }}">View Students</a>
        <a href="#/add_teacher">Add Teacher</a>
         <a href="#/view_teachers">View Teachers</a>
        <a href="#/reports">Generate Report</a>
    </div>
</body>
</html>