<!-- <!DOCTYPE html>

<head>
 <meta charset="UTF-8" />
    <title>Student Data</title> 
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #070404;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
            color: black;
        }
        th {
            background: #f4f4f4;
        }
        .empty {
            padding: 20px;
            color: #666;
        }
    </style>
</head>
<body> -->
    <h1>Student Records</h1>

    {% if session.get('user_type') == 'admin' %}
    <form action="{{ url_for('view_student') }}" method="POST">
    <div class="align-header">
        <div>
            <label for="search">Search by name:</label>
            <input type="text" id="search" name="search" placeholder="Enter first or last name or roll number">
            <button type="submit">Search</button>
        </div>
    <!-- update filter to ajax respond -->
        
        <div>
            <label for="grade">Filter by grade:</label>
            <select id="grade" name="grade">
                <option value="">All Grades</option>
                <option value="1">Grade 1</option>
                <option value="2">Grade 2</option>
                <option value="3">Grade 3</option>
                <option value="4">Grade 4</option>
                <option value="5">Grade 5</option>
                <option value="6">Grade 6</option>
                <option value="7">Grade 7</option>
                <option value="8">Grade 8</option>
                <option value="9">Grade 9</option>
                <option value="10">Grade 10</option>
                <option value="11">Grade 11</option>
                <option value="12">Grade 12</option>
            </select>
            <button type="submit">Filter</button>
        </div>
        <div>
            <button type="button" value="#" id="openModalBtn">Add Student</button>
        </div>
    </div>
        <!-- update search to ajax respond -->
        
        
        <table>
            <thead>
                
                <tr>
                    <th>ID</th>
                    <th>Roll Number</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Grade</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Enrollment Date</th>
                    <th>Parent Name</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                {% if students %}
                {% for student in students %}
                    <tr>
                         
                        <td>{{ student.id }}</td>
                        <td>{{ student.roll_number }}</td>
                        <td>{{ student.first_name }}</td>
                        <td>{{ student.last_name }}</td>
                        <td>{{ student.phone }}</td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.grade }}</td>
                        <td>{{ student.dob }}</td>
                        <td>{{ student.gender }}</td>
                        <td>{{ student.address }}</td>
                        <td>{{ student.enrollment_date }}</td>
                        <td>{{ student.parent_name }}</td>
                         
                         <td>
                            <a href="{{ url_for('delete_student', id=student.id) }}" 
                            onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                            <a href="{{ url_for('edit_student', id=student.id)}}">Edit</a>
                        </td>
                        
                    </tr>
                {% endfor %}
                {% else %}
                   <tr>
                        <td colspan="12">No student records found</td>
                    </tr>
                 {% endif %}
            </tbody>
        </table>
    </form>
    {% endif %}
<!-- </body>
</html> -->